@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.first {
    height: 100vh;
    margin-top: -25px;
    background-color: black;
}

.first h1 {
    color: white;
    font-weight: 500;
    font-size: 50px;
    padding-top: 200px;
    padding-left: 100px;
}


/* animation for the loader*/


/* animation of the loader ends here*/

.second h1,
.third h1 {
    color: black;
    font-weight: 500;
    font-size: 50px;
    padding-top: 50px;
    padding-left: 100px;
}

.second {
    height: 100vh;
    background-color: white;
}

.third {
    height: 100vh;
    background-color: yellow;
}

html {
    scroll-behavior: smooth;
}


/* navbar css*/

.bg-custom {
    background-color: black;
}

.nav-link-custom {
    color: white;
    padding: 20px;
}

#navbarNav {
    float: right;
}

.nav-link-custom:hover {
    border-radius: 25px;
    background-color: white;
    color: black;
    transition: 0.6ms ease-in;
    text-decoration: none;
}