.first {
    height: 100vh;
    background-color: #141821;
}

body {
    margin: 0;
    padding: 0;
}

.tagline {
    color: white;
}

h1 {
    font-weight: 500;
}


/* animation of the tagline */

#home {
    height: 100vh;
    padding-top: 200px;
    padding-bottom: 100px;
    margin: auto;
}

#home h1 {
    text-decoration: none;
    font-size: 5vw;
    font-weight: 750;
    text-align: left;
    padding-left: 75px;
    text-shadow: rgba(0, 0, 0, 0.75);
}

.masked {
    background: url(./images/trialimage.png) repeat, black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation-name: masked-animation;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: right bottom;
    }
}


/* animation of the tagline ends here */

.second h1,
.third h1 {
    color: black;
}

.second {
    height: 100vh;
    background-color: white;
}

.third {
    height: 100vh;
    background-color: yellow;
}